.card{
    width: 100%;
    min-height: 94vh;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    border-radius: 12px;
    border: 0;
    margin: 3vh 0 3vh 0;
    background:url("./../../images/1.png") repeat;
    z-index: -10;
    overflow: hidden;
    
}

.blur{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 94vh;
    z-index: -2;
    overflow: hidden;

}

.light{
    background: rgba(255, 255, 255, 0.7);
}

.dark{
    background: rgba(0, 0, 0, 0.9);
}