.seat {
    position: relative;
    display: inline-block;
    width: 50px;;
    height: 40px;
    background: transparent;
    /* border: 1px solid #333; */
  }
  
  .seat_toggler { 
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  
  .seat_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;;
    height: 40px;
    background: transparent;
    border: 1px solid #333;
  }
  
  /* .seat_toggler:checked + .seat_slider {
    background-color: rgb(224, 253, 205);
  } */
  
  .seat_toggler:focus + .seat_slider {
    background-color:  rgb(224, 253, 205);
  }
  
  .seat_toggler:checked + .seat_slider {
    background-color: rgb(224, 253, 205);
  }

  .seat_toggler:checked + .seat_slider .seat_tag {
    color: rgb(0, 0, 0);
  }

  .seat_toggler:disabled + .seat_slider{
    background-color: rgba(238, 238, 238,0.9) !important;
    cursor: not-allowed;
  }

  .seat_tag{
    position: absolute;
    left: 0;
    font-size: 20px;
    width: 50px;
    z-index: 10;
    text-align: center;
}

@media screen and (max-width : 600px) {
    .seat{
        width: 30px;;
        height: 25px;
    }

    .seat_slider{
        width: 30px;;
        height: 25px;
    }

    .seat_tag{
        font-size: 12px;
        width: 30px;;
    }
}